.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #1919e6;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  // font-size: $h2;
  font-size: 80px;
  font-family: 'Lato';
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
  font-family: 'Lato';
    padding-bottom: 4%;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 10px solid #1919e6;
  transition: .1s ease;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
  color: #444;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
