.post-image{
  height: 200px;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow:hidden
}

.post-image img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.posts {
  margin: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.posts .post {
  margin-bottom: 0.75em;
  border: thin solid lightgray;
  width: 400px;
  box-shadow: 0px 0px 10px #f1f1f1;
  // background-color: lightblue;
  border-radius: 5px;
}

.posts p {
  font-size: 1em;
  // font-family: 'Lato';
}

.post p{
  font-family: 'Lato';
}

.posts .post:last-child {
  // border-bottom: none;
  // margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
  font-size: 2em;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
  font-size: 0.6em;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
